* {
    box-sizing: border-box;
}

.App {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, .6);
}
.App > *:not(nav) {
    height: 100%;
    overflow: hidden;
    background-color: darkseagreen;
}
.Nav {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 2rem;
    background-color: rgba(255, 255, 255, .6);
    opacity: 0;
}
.Nav:hover {
    opacity: 1;
}
.Nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
